build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/

.classpath
/.factorypath
*/.factorypath
.project
.idea/
.kotlin/
classes/
.metadata
.vscode
.eclipse
.settings
*.launch
.architectury-transformer/debug.log
src/generated/resources/.cache/

*.patch
*.DS_Store
run_client.bat

# 运行日志重定向产物
client_run_*.txt
